body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/abstract-blue-vector-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.question-box {
  border: aliceblue 3px solid;
  border-radius: 10px;
  background-color: azure;
  padding-left: 10px;
  padding-bottom: 10px;
}
button {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  margin: 20px auto;
  border: 2px black solid;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
    transform: translateX(-100%);
    animation: slideInLeft 5s ease-out forwards infinite, colorShift 5s infinite;
}
h1:hover {
    animation-play-state: paused;
}
textarea:placeholder-shown {
  border: 2px black dotted;
  border-radius: 7px;
}
@keyframes slideInLeft {
    to {
        transform: translateX(100%);
    }
}
@keyframes colorShift {
    0% {
      color: black;
    }
    25% {
      color: #ee0979;;
    }
    50% {
      color:  white;;
    }
    75% {
      color: #00ff90;;
    }
    100% {
      color: #ff6a00;;
    }
}
/* Mobiles */
@media (max-width: 480px) {
   body {
    font-size: 16px;
    line-height: 1.5;
   }
}
/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    font-size: 17px;
    line-height: 1.6;
  }
}
/* Desktops */
@media (min-width: 1025px) {
    body {
      font-size: 20px;
      line-height: 1.8;
    }
}